.main {
    margin: 15px;
    padding: 10px;
    background-color: burlywood;
    height: 100vh;

}

.sub {
    margin: 10px;
    padding: 10px;
    background-color: khaki;
    border: 5px inset blueviolet;
    border-radius: 10px;
}

Span {
    color: blue;
}